<html>
    <head></head>
    <body>
        stringify : <% JSON.stringify(courses) %>
        <ul>
            
            <!--
            <% courses.forEach( function(course) { %>
                <li>
                    Course id : <% course.course_id %><br>
                    Course name : <% course.course_name %><br>
                    slots : <br>
                    <ul>
                        <% course.slots.forEach( function(slot) { %>
                            <li>
                                slot id : <% slot.slot %> <br>
                                instructor : <% slot.instructor_id %>
                            </li>
                        <% }); %>
                    </ul>
                </li>
            <% }); %>
            -->
        </ul>
    </body>
</html>