<html>
    <head>
        <title> Notch up</title>
    </head>
    <body>
        <div>
            <form method="POST" action="/parent_details">
                Parent's Name : <input name='name'><br>
                Contact Number : <input name='contact'><br>
                Email : <input name='email'><br>
                Child's Name : <input name='email'><br>
                Course Name : <input name='course'><br>
                Suitable data : <input name='date'><br>
                Suitable time : <input time='time'><br>
                <input type='submit' value='submit'>
            </form>
        </div>
    </body>
</html>